[submodule "neomutt/.config/neomutt/mutt-colors-solarized"]
	path = .config/neomutt/mutt-colors-solarized
	url = git@github.com:altercation/mutt-colors-solarized.git
[submodule ".config/tmux/oh-my-tmux"]
	path = .config/tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux
[submodule "/private/var/joshua/.config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
