* {
  font-size: 12px;
  /*font-family: "Terminus (TTF)";*/
  font-family: "FontAwesome 5 Free Solid", Roboto, Helvetica, Arial, sans-serif

}

/*
.modules-left {
  background: #1d1f21;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
  margin: 3px;
}
.modules-right {
  background: #1d1f21;
}
.modules-center {
  background: #1d1f21;
}
*/

window#waybar {
    background: rgba(0,0,0,0);
}

#battery {
  margin: 3px 0px 3px 0px;
  background: #1d1f21;
  padding: 5px;
  color: #c5c8c6;
}

#custom-quit {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid #1d1f21;
  border-top: 2px solid #1d1f21;
  border-bottom: 2px solid #1d1f21;
  background: #F00;
  color: #FFF;
}

#clock {
  margin: 3px 0px 3px 3px;
  padding: 5px;
  color: #FFF;
  background: #1d1f21;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #c5c8c6;
}

#language {
  background: #1d1f21;
  color: #c5c8c6;
  padding: 5px 5px 5px 7px;
  margin: 3px 0px 3px 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-media {
  margin: 3px;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  background: #1d1f21;
  color: #c5c8c6;
}

#workspaces {
    background: rgba(0,0,0,0);
}

#mode {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
}

#workspaces button {
  background: #1d1f21;
  margin: 3px 3px 3px 0px;
  color: #c5c8c6;
  padding: 5px 7px 5px 7px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#workspaces button.focused {
	background: #64727D;

}

#pulseaudio {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  background: #1d1f21;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #c5c8c6;
}

#idle_inhibitor {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
}

#network {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
}

#window {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#mpd {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 3px 3px 0px 3px;
}

